src/**/.vs/
src/**/bin/
src/**/obj/
/.vs
/src/Medley.Web/logs
/src/Medley.Web/wwwroot/css/site.min.css
/src/Medley.Web/wwwroot/css/site.css
/src/Medley.Web/appsettings.Development.json
/src/Medley.Collector/appsettings.Development.json
/src/**/*.user
/src/tests/Medley.Tests.Integration/appsettings.Development.json

# Node/NPM
/src/Medley.Web/node_modules/
/src/Medley.Web/wwwroot/js/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
