@{
    ViewData["Title"] = "Dashboard";
    ViewData["HasRightSidebar"] = false;
    ViewData["HasLeftSidebar"] = false;
    
    Layout = "_VueLayout";
}

@* Vue SFC: Vue/pages/Dashboard.vue (compiled into app.js) *@
@* Entry point: wwwroot/js/pages/home.js (mounts the SFC) *@
<div id="app"></div>

@section Scripts {
    <script src="~/js/dist/app.js" asp-append-version="true"></script>
    <script src="~/js/pages/home.js" asp-append-version="true"></script>
}
