@{
    Layout = "_VueLayout.cshtml";

    ViewData["HasRightSidebar"] = IsSectionDefined("RightSidebar");
    ViewData["HasLeftSidebar"] = IsSectionDefined("LeftSidebar");
}

@if (IsSectionDefined("LeftSidebar"))
{
    <div class="sidebar left-sidebar" id="leftSidebar">
        @RenderSection("LeftSidebar")
    </div>
}

<div class="main-content">
    @RenderBody()
</div>

@if (IsSectionDefined("RightSidebar"))
{
    <div class="sidebar right-sidebar" id="rightSidebar">
        @RenderSection("RightSidebar")
    </div>
}

@section Scripts 
{
    @if (IsSectionDefined("Scripts")) 
    {
        @await RenderSectionAsync("Scripts")
    }
}

@section Styles 
{
    @if (IsSectionDefined("Styles"))
    {
        @await RenderSectionAsync("Styles")
    }
}

@section VueTemplates
{
    @if (IsSectionDefined("VueTemplates"))
    {
        @await RenderSectionAsync("VueTemplates")
    }
}