/*based on https://github.com/sindresorhus/github-markdown-css*/
.markdown-container {
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-16: 1rem;
    --base-size-24: 1.5rem;
    --base-size-40: 2.5rem;
    --base-text-weight-normal: 400;
    --base-text-weight-medium: 500;
    --base-text-weight-semibold: 600;
    --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --fgColor-accent: Highlight;
}

@media (prefers-color-scheme: dark) {
    .markdown-container, [data-bs-theme="dark"] {
        /* dark */
        color-scheme: dark;
        --focus-outlineColor: #1f6feb;
        --fgColor-default: #f0f6fc;
        --fgColor-muted: #9198a1;
        --fgColor-accent: #4493f8;
        --fgColor-success: #3fb950;
        --fgColor-attention: #d29922;
        --fgColor-danger: #f85149;
        --fgColor-done: #ab7df8;
        --bgColor-default: #0d1117;
        --bgColor-muted: #151b23;
        --bgColor-neutral-muted: #656c7633;
        --bgColor-attention-muted: #bb800926;
        --borderColor-default: #3d444d;
        --borderColor-muted: #3d444db3;
        --borderColor-neutral-muted: #3d444db3;
        --borderColor-accent-emphasis: #1f6feb;
        --borderColor-success-emphasis: #238636;
        --borderColor-attention-emphasis: #9e6a03;
        --borderColor-danger-emphasis: #da3633;
        --borderColor-done-emphasis: #8957e5;
    }
}

@media (prefers-color-scheme: light) {
    .markdown-container, [data-bs-theme="light"] {
        /* light */
        color-scheme: light;
        --focus-outlineColor: #0969da;
        --fgColor-default: #1f2328;
        --fgColor-muted: #59636e;
        --fgColor-accent: #0969da;
        --fgColor-success: #1a7f37;
        --fgColor-attention: #9a6700;
        --fgColor-danger: #d1242f;
        --fgColor-done: #8250df;
        --bgColor-default: #ffffff;
        --bgColor-muted: #f6f8fa;
        --bgColor-neutral-muted: #818b981f;
        --bgColor-attention-muted: #fff8c5;
        --borderColor-default: #d1d9e0;
        --borderColor-muted: #d1d9e0b3;
        --borderColor-neutral-muted: #d1d9e0b3;
        --borderColor-accent-emphasis: #0969da;
        --borderColor-success-emphasis: #1a7f37;
        --borderColor-attention-emphasis: #9a6700;
        --borderColor-danger-emphasis: #cf222e;
        --borderColor-done-emphasis: #8250df;
    }
}

.markdown-container {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    /*color: var(--fgColor-default);*/
    /*background-color: var(--bgColor-default);*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;



    details,
    figcaption,
    figure {
        display: block;
    }

    summary {
        display: list-item;
    }

    [hidden] {
        display: none !important;
    }

    a {
        background-color: transparent;
        color: var(--fgColor-accent);
        text-decoration: none;
    }

    abbr[title] {
        border-bottom: none;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }

    b,
    strong {
        font-weight: var(--base-text-weight-semibold, 600);
    }

    dfn {
        font-style: italic;
    }

    h1 {
        margin: .67em 0;
        font-weight: var(--base-text-weight-semibold, 600);
        padding-bottom: .3em;
        font-size: 2em;
        border-bottom: 1px solid var(--borderColor-muted);
    }

    mark {
        background-color: var(--bgColor-attention-muted);
        color: var(--fgColor-default);
    }

    small {
        font-size: 90%;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace;
        font-size: 1em;
    }

    figure {
        margin: 1em var(--base-size-40);
    }

    hr {
        box-sizing: content-box;
        overflow: hidden;
        background: transparent;
        border-bottom: 1px solid var(--borderColor-muted);
        height: .25em;
        padding: 0;
        margin: var(--base-size-24) 0;
        background-color: var(--borderColor-default);
        border: 0;
    }

    a:hover {
        text-decoration: underline;
    }

    hr::before {
        display: table;
        content: "";
    }

    hr::after {
        display: table;
        clear: both;
        content: "";
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        font-variant: tabular-nums;
    }

    td,
    th {
        padding: 0;
    }

    details summary {
        cursor: pointer;
    }

    a:focus {
        outline: 2px solid var(--focus-outlineColor);
        outline-offset: -2px;
        box-shadow: none;
    }

    a:focus:not(:focus-visible) {
        outline: solid 1px transparent;
    }

    a:focus-visible {
        outline: 2px solid var(--focus-outlineColor);
        outline-offset: -2px;
        box-shadow: none;
    }

    a:not([class]):focus,
    a:not([class]):focus-visible {
        outline-offset: 0;
    }

    kbd {
        display: inline-block;
        padding: var(--base-size-4);
        font: 11px var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
        line-height: 10px;
        color: var(--fgColor-default);
        vertical-align: middle;
        background-color: var(--bgColor-muted);
        border: solid 1px var(--borderColor-neutral-muted);
        border-bottom-color: var(--borderColor-neutral-muted);
        border-radius: 6px;
        box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: var(--base-size-24);
        margin-bottom: var(--base-size-16);
        font-weight: var(--base-text-weight-semibold, 600);
        line-height: 1.25;
    }

    h2 {
        font-weight: var(--base-text-weight-semibold, 600);
        padding-bottom: .3em;
        font-size: 1.5em;
        border-bottom: 1px solid var(--borderColor-muted);
    }

    h3 {
        font-weight: var(--base-text-weight-semibold, 600);
        font-size: 1.25em;
    }

    h4 {
        font-weight: var(--base-text-weight-semibold, 600);
        font-size: 1em;
    }

    h5 {
        font-weight: var(--base-text-weight-semibold, 600);
        font-size: .875em;
    }

    h6 {
        font-weight: var(--base-text-weight-semibold, 600);
        font-size: .85em;
        color: var(--fgColor-muted);
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    blockquote {
        margin: 0;
        padding: 0 1em;
        color: var(--fgColor-muted);
        border-left: .25em solid var(--borderColor-default);
    }

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }

    ul ul ol,
    ul ol ol,
    ol ul ol,
    ol ol ol {
        list-style-type: lower-alpha;
    }

    dd {
        margin-left: 0;
    }

    tt,
    code,
    samp {
        font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
        font-size: 12px;
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
        font-size: 12px;
        word-wrap: normal;
    }

    &::before {
        display: table;
        content: "";
    }

    &::after {
        display: table;
        clear: both;
        content: "";
    }

    > *:first-child {
        margin-top: 0 !important;
    }

    > *:last-child {
        margin-bottom: 0 !important;
    }

    a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre,
    details {
        margin-top: 0;
        margin-bottom: var(--base-size-16);
    }

    blockquote > :first-child {
        margin-top: 0;
    }

    blockquote > :last-child {
        margin-bottom: 0;
    }

    h1 tt,
    h1 code,
    h2 tt,
    h2 code,
    h3 tt,
    h3 code,
    h4 tt,
    h4 code,
    h5 tt,
    h5 code,
    h6 tt,
    h6 code {
        padding: 0 .2em;
        font-size: inherit;
    }

    summary h1,
    summary h2,
    summary h3,
    summary h4,
    summary h5,
    summary h6 {
        display: inline-block;
    }

    summary h1,
    summary h2 {
        padding-bottom: 0;
        border-bottom: 0;
    }





    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    li > p {
        /*margin-top: var(--base-size-16);*/
        margin-top: 0;
        margin-bottom: 0;
    }

    li + li {
        margin-top: .25em;
    }

    dl {
        padding: 0;
    }

    dl dt {
        padding: 0;
        margin-top: var(--base-size-16);
        font-size: 1em;
        font-style: italic;
        font-weight: var(--base-text-weight-semibold, 600);
    }

    dl dd {
        padding: 0 var(--base-size-16);
        margin-bottom: var(--base-size-16);
    }

    table th {
        font-weight: var(--base-text-weight-semibold, 600);
    }

    table th,
    table td {
        padding: 6px 13px;
        border: 1px solid var(--borderColor-default);
    }

    table td > :last-child {
        margin-bottom: 0;
    }
    /*table tr {
  background-color: var(--bgColor-default);
  border-top: 1px solid var(--borderColor-muted);
}

table tr:nth-child(2n) {
  background-color: var(--bgColor-muted);
}*/

    table img {
        background-color: transparent;
    }

    img[align=right] {
        padding-left: 20px;
    }

    img[align=left] {
        padding-right: 20px;
    }

    code,
    tt {
        padding: .2em .4em;
        margin: 0;
        font-size: 85%;
        white-space: break-spaces;
        background-color: var(--bgColor-neutral-muted);
        border-radius: 6px;
    }

    code br,
    tt br {
        display: none;
    }

    del code {
        text-decoration: inherit;
    }

    samp {
        font-size: 85%;
    }

    pre code {
        font-size: 100%;
    }

    pre > code {
        padding: 0;
        margin: 0;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }

    pre code,
    pre tt {
        display: inline;
        max-width: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;
    }


}
