/* Vue.js v-cloak directive - hides elements until Vue is ready */
[v-cloak] {
    display: none !important;
}

// Core
@import 'components/variables';
@import 'components/utilities';
@import 'components/layout';

// Navigation & Structure
@import 'components/vertical-menu';
@import 'components/sidebar';
@import 'components/mobile';

// Components
@import 'components/tree-view';
@import 'components/list-view';
@import 'components/virtual-scroller';
@import 'components/article-list';
@import 'components/tiptap-editor';
@import 'components/versions';
@import 'components/forms';
