<script type="text/x-template" id="article-tree-template">
  <ul class="tree-view">
    <li v-for="article in articles" :key="article.id" class="tree-item">
      <div class="tree-item-content" :class="{ active: selectedId === article.id }" @@click="selectArticle(article)">
        <button 
          v-if="hasChildren(article)" 
          class="tree-item-toggle" 
          :class="{ expanded: isExpanded(article.id) }"
          @@click.stop="toggleExpand(article.id)">
          <i class="bi bi-chevron-right"></i>
        </button>
        <span v-else class="tree-item-toggle"></span>
        <i class="tree-item-icon bi bi-file-text"></i>
        <span class="tree-item-label">{{ article.title }}</span>
      </div>
      <article-tree 
        v-if="hasChildren(article) && isExpanded(article.id)"
        :articles="article.children"
        :selected-id="selectedId"
        @@select="selectArticle"
        class="tree-children"
      />
    </li>
  </ul>
</script>

