@model Guid?

@{
    ViewData["Title"] = "Articles";
    ViewData["HasRightSidebar"] = true;
    ViewData["HasLeftSidebar"] = true;

    // Only open sidebar on mobile if no specific record is selected
    var openSidebarOnMobile = Model == null;
    ViewData["OpenSidebarOnMobile"] = openSidebarOnMobile;

    Layout = "_VueLayout";
}

@* Vue template has been moved to wwwroot/js/pages/articles.js *@
@* This is an intermediate step before full migration to .vue SFC *@
<div id="app"></div>

@section Scripts {
    <script src="~/lib/bootbox/dist/bootbox.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/marked/marked.min.js" asp-append-version="true"></script>
    <script src="~/js/html-diff.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/url-utils.js" asp-append-version="true"></script>
    <script src="~/js/dist/app.js" asp-append-version="true"></script>
    <script src="~/js/pages/articles.js" asp-append-version="true"></script>
}
