/* Main grid layout */
.main-page-container {
    display: grid;
    grid-template-columns: var(--vertical-menu-width) 1fr;
    grid-template-rows: 100vh;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-main);

    &.has-left-sidebar {
        grid-template-columns: var(--vertical-menu-width) minmax(var(--sidebar-left-width-min), min(var(--sidebar-left-width), var(--sidebar-left-width-max))) 1fr;
    }

    &.has-right-sidebar {
        grid-template-columns: var(--vertical-menu-width) 1fr minmax(var(--sidebar-right-width-min), min(var(--sidebar-right-width), var(--sidebar-right-width-max)));
    }

    &.has-left-sidebar.has-right-sidebar {
        grid-template-columns: var(--vertical-menu-width) minmax(var(--sidebar-left-width-min), min(var(--sidebar-left-width), var(--sidebar-left-width-max))) 1fr minmax(var(--sidebar-right-width-min), min(var(--sidebar-right-width), var(--sidebar-right-width-max)));
    }
}

/* Main content area */
.main-content {
    background-color: var(--bg-main);
    overflow-y: auto;
    padding: 2rem 2.5rem;

    .main-content-header {
        margin-bottom: 2rem;
    }

    .main-content-title {
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: var(--bs-body-color);
    }
}

