/* Content Tabs Container */
.content-tabs-container {
    background-color: var(--bg-sidebar);

    .nav-link {
        &.active {
            background: var(--bg-hover);
        }

        .tab-close-icon {
            font-size: 0.75rem;
            opacity: 0.6;
            margin-left: .5rem;
            margin-right: -1rem;
            width: 1.25rem;
            height: 1.25rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 0.25rem;

            &:hover {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

[data-bs-theme="light"] {
    .content-tabs-container .nav-tabs {
        --bs-nav-tabs-link-active-color: var(--bs-gray-900);
    }
}

[data-bs-theme="dark"] {
    .content-tabs-container .nav-tabs {
        --bs-nav-tabs-link-active-color: #fff;
    }
}

/* Content Tab Panes */
.content-tab-panes {
    overflow: hidden;
    position: relative;
}

.content-tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
