/* Vertical menu (far left) */
.vertical-menu {
    background-color: var(--bg-vertical-menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 0;
    gap: 0.25rem;
    border-right: 1px solid var(--bs-border-color);

    .vertical-menu-item {
        width: 4.2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*gap: 0.25rem;*/
        padding: 0.5rem 0.25rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.15s ease;
        color: var(--bs-gray-600);
        text-decoration: none;
        position: relative;

        &:hover {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
        }

        &.active {
            background-color: var(--bs-primary);
            color: var(--bs-white);
        }

        i {
            font-size: 1.8rem;
        }

        .vertical-menu-item-label {
            font-size: 0.75rem;
            font-weight: 500;
            /*text-align: center;*/
            line-height: 1;
            white-space: nowrap;
        }
    }

    button.vertical-menu-item {
        background: none;
        border: none;
    }

    &:is([data-bs-theme="dark"] .vertical-menu) {
        border-right: none;
    }
}

